@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');

*{
    box-sizing: border-box;
}
.container-easier{
    background-image: url("./img/Background4.ce0bbc248e40244237da.png");
    height: 775px;
    padding: 82px 160px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    font-family: 'Space Grotesk', sans-serif;

}
.text-heading-easier{
    color: white;
    font-size: 64px;
}
.section-easier{
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
}
.column-easier{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.row-easier{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 60px;
    /*background-attachment: fixed;*/
}
.number-circle-easier{
    border: 1px solid #fff;
    border-radius: 50%;
    color: #fff;
    font-size: 27px;
    font-weight: 700;
    line-height: 82px;
    text-align: center;
    width: 82px;
}
.text-content-easier{
    font-size: 23px;
    color: white;
    line-height: 1;
    margin-left: 20px;
    width: 270px;
}
.btn-easier{
    background: linear-gradient(297.06deg , #f8ed84 23.88% , #f5e0ff 66.2% , #84fad5 109.31%);
    border-radius: 43px;
    height: 72px;
    width: 350px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    /*margin-left: 80px;*/
}
.text-button-easier{
    color: #262626;
    font-size: 16px;
    letter-spacing: .14em;
}
.btn-easier:hover{
    font-weight: 700;
}
.project-purpose{
    height: 809px;
    padding: 90px 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #f1f1f1;
    font-family: 'Space Grotesk', sans-serif;

}
.project-section-purpose{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 518px;
    margin-right: 35px;
}
.heading-purpose{
    color: black;
    font-size: 64px;
    line-height: 1;
    margin-bottom: -40px;
}
.paragraph-purpose{
    width: 100%;
    font-size: 22px;
    font-weight: 700;
    line-height: 30px;
    color: #9e9e9e;
}
.img-purpose{
    width: 700px;
}


@media screen and (max-width: 768px) {
    .container-easier {
        padding: 20px;
        height: auto;
    }

    .text-heading-easier {
        font-size: 48px;
    }

    .row-easier {
        flex-direction: column;
        align-items: center;
        margin-bottom: 15px;
        width: 160px;
    }
    .column-easier{

        flex-direction: row;
    }
    .section-easier{
        flex-direction: column;
    }

    .number-circle-easier {
        line-height: 62px;
        width: 62px;
        font-size: 22px;
        height: 62px;
    }

    .text-content-easier {
        font-size: 15px;
        margin-left: 0;
        margin-top: 15px;
        width: 90%;
        text-align: center;
    }

    .btn-easier-purpose {
        width: 100%;
    }

    .project-purpose {
        padding: 60px;
        flex-direction: column;
        align-items: center;
    }

    .project-section-purpose {
        margin-right: 0;
        margin-bottom: 35px;
    }

    .heading-purpose {
        font-size: 48px;
        margin-bottom: -30px;
    }

    .paragraph-purpose {
        font-size: 18px;
        line-height: 30px;
        text-align: center;
    }

    .img-purpose {
        width: 100%;
        max-width: 500px;
    }
}