
.faq-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #000000;
}

.faq-padding {
    margin: 0 230px 0 230px;
    border-top: 1px solid rgba(205, 214, 218, 0.25);
}

.faq-row-wrapper .faq-row {
    border-bottom: 1px solid rgba(205, 214, 218, 0.25);
}

.faq-row .row-title-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    color: #000000;
}

.row-content-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: yellow;
    border-top: 1px solid rgba(205, 214, 218, 0.25);;
    padding: 10px;
}