@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk');

.container, .row, .content{
    display: flex;
}
.container, .content{
    justify-content: space-around;
}
.container{
    flex-direction: row;
    align-items: center;
    height: 700px;
    padding: 100px;
}

.row{
    justify-content: center;
    position: relative;
    align-items: flex-start;
    width: 400px;
}

.content{
    width: 50%;
    height: 75%;
    flex-direction: column;
    margin-left: 20px;
}